@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

body{
    background-color: #EBE5CE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root{
    width: 100%;
}

.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1{
    font-family: 'Donegal One', serif;
    color: #8D1042;
}
.bloco{
    background-color: #FFFFFF;
    width: 280px;
    height: 600px;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco h2{
    align-self: flex-start;
    margin-left: 20px;
}

#nome, #idade, #peso, #objeivo, #oqg, #oqng, #foto, #objetivo{
    border-radius: 20px;
    background-color: #EBE5CE;
    width: 250px ;
    height: 20px;
    resize: none;
    border: none;
    padding: 5px;
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

button{
    color: white;
    width: 120px;
    margin-top: 20px;
    background-color: #8D1042;
    border: none;
    padding: 10px;
    border-radius: 10px;
}